POSEIDON_SERVERS=[{"id":"vmhost1","name":"vmhost1.home.lan","baseUrl":"http://vmhost1.home.lan:8000","headers":{"x-api-key":"replace-with-api-key","x-admin-token":"optional-admin-token"}},{"id":"vmhost2","name":"vmhost2.home.lan","baseUrl":"http://vmhost2.home.lan:8000","headers":{"x-api-key":"replace-with-api-key"}}]
